Django==2.1.11
django-cors-headers==2.5.2
django-filter==2.1.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
gunicorn==19.9.0
Markdown==3.0.1
Pillow==6.0.0
psycopg2-binary==2.8.2
PyJWT==1.7.1
pytz==2018.9
